.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    overflow: hidden;
}

.modalPicture {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    overflow: hidden;
}

.showPicture {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 48px);
    overflow: hidden;
}

.btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px;
    height: calc(100vh * 0.04);
    width: calc(100vh * 0.04);
    font-size: large;
    color: white;
    background-color: rgba(100, 100, 100, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.btnClose:hover {
    color: #ffa500;
    box-shadow: 0 0 5px 5px rgb(255, 165, 0, 0.3);
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5), 1px -1px 1px rgb(0, 0, 0, 0.5), -1px 1px 1px rgb(0, 0, 0, 0.5), -1px -1px 1px rgb(0, 0, 0, 0.5);
}