@import-normalize;
/* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: red;
  /* #212121; */
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Oxygen-Sans', Ubuntu, Cantarell, 'Droid Sans', 'Fira Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}